@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ChannelTypeViewModel

<div class="table-responsive">
    <div id="status"></div>
    <table id="channel-types-table" class="mb-0 table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th>Updated</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var channelType in Model.ChannelTypes)
            {
                <tr>
                    <th scope="row">@channelType.Id</th>
                    <td>@channelType.Name</td>
                    <td>@channelType.CreatedAt>
                    <td>@channelType.UpdatedAt</td>
                    <td>
                        <button class="btn btn-info btn-edit" onclick="edit(@channelType.Id)">Edit</button>
                        <button class="btn btn-danger btn-delete" onclick="del(@channelType.Id)">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
    </table>
</div>

<script>$(document).ready(function () {
        $('#channel-types-table').DataTable({
            "paging": true
        });
    });

    function edit(id) {
        window.location.href = window.location.origin + "/channeltype/edit/" + id;
    }

    function del(id) {
        $.ajax({
            type: "DELETE",
            url: window.location.origin + "/api/channeltype/" + id,
            data: { "id": id },
            contentType: false,
            processData: false,
            success: function (msg) {
                console.log(msg);

                // Success alert

                $('#status').append(`
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>Success!</strong> Channel type deleted
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>`);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);

                var json = JSON.parse(xhr.responseText)
                // Error alert

                $('#status').append(`
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Error!</strong> ` + json.message + `
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>`);
            }
        });
    };</script>